.experience {
   display: flex;
   gap: 2rem;
   flex-direction: column;
   max-height: 100%;
   overflow-y: auto;
   overflow-x: hidden;

   .experience-header__title {
      text-align: center;
   }

   .experience__container {
      display: grid;
      gap: 1rem;
      margin-right: 1rem;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;

      .experience_menu {
         position: sticky;
         top: 0;
         display: flex;
         gap: .7rem;
         flex-direction: column;
         flex-wrap: wrap;
         width: 100%;
         padding: 2rem 1rem;
         height: fit-content;
         background: $color-secondary;
         border-radius: 1rem;

         a {

            .experience_menu_link {
               padding: 1rem 1.5rem;
               min-width: 14rem;
               background: $color-main;
               border-radius: 1rem;

            }

            &[class="active"] {
               color: $color-secondary;

               .experience_menu_link {
                  background: $color-extra-a;
               }
            }
         }
      }

      .experience_item_container {
         display: grid;
         gap: 1rem;
      }

   }
}


/*------------------------------------*/
/* RESPONSIVE */
/*------------------------------------*/
@media screen and (max-width: $responsive-b) {
   .experience {
      gap: 1rem;
      padding-bottom: 2rem;

      .experience__container {
         grid-template-columns: auto;

         .experience_menu {
            position: unset;
         }
      }

      .experience_menu {
         flex-direction: row !important;
         padding: 1rem 1.5rem !important;

         a {
            .experience_menu_link {
               min-width: fit-content !important;

            }
         }
      }
   }
}

@media screen and (max-width: $responsive-d) {
   .experience {
      padding-top: 2rem;

      .experience__container {
         margin-right: 0;

         .experience_item_container {
            gap: .1rem !important;
         }

         .experience_menu {
            background: none;
            flex-wrap: nowrap;
            overflow-x: auto;

            a {

               .experience_menu_link {
                  display: flex;
                  align-items: center;
                  border: .15rem solid $color-text-b;
                  height: 100%;
               }

               &[class="active"] {
                  .experience_menu_link {
                     border: .15rem solid transparent;
                  }
               }
            }

            &::-webkit-scrollbar {
               display: none;
            }
         }
      }
   }
}

@media screen and (max-width: $responsive-f) {
   .experience {

      .experience__container {

         .experience_item_container {
            gap: 1rem !important;
         }
      }
   }
}

/*------------------------------------*/
/* ANIMATIONS */
/*------------------------------------*/