@import "link_reference";
@import "sub_routes/reference_card";
@import "sub_routes/udemy";
@import "sub_routes/youtube";
@import "sub_routes/college";

.academy {
   display: flex;
   gap: 1rem;
   flex-direction: column;
   padding-bottom: 1rem;
   height: 100%;
   overflow-y: auto;

   .academy__title {
      text-align: center;
      padding: 0 2rem;
   }

   .academy__container {
      position: relative;
      display: grid;
      gap: 1rem;
      grid-template-columns: auto 1fr;
      width: 100%;
   }
}


/*------------------------------------*/
/* RESPONSIVE */
/*------------------------------------*/
@media screen and (max-width: $responsive-c) {
   .academy {
      .academy__container {
         grid-template-columns: 1fr;
         padding: 0 1rem;
      }
   }
}

@media screen and (max-width: $responsive-d) {

   .academy {
      padding: 2rem 0;

      .academy__container {
         padding: 0;
      }
   }
}