.button {
   padding: .8rem 1.5rem;
   width: fit-content;
   border-radius: .4rem;
   font-size: $font-normal-a;
   outline: none;
   border: none;
   transition: .2s;
   will-change: transform;
   user-select: none;

   &:active {
      transform: scale(.95);
   }
}

.button__default {
   background: $color-secondary;
   color: white;
   cursor: pointer;
   transition: .2s;

   &:hover {
      color: $color-extra-a;
      animation: buttonDefault .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
   }
}

.button__contrast {
   color: $color-secondary;
   background: $color-extra-a;
   cursor: pointer;
   transition: .2s;

   &:active {
      transform: scale(.95);
   }

   &:hover {
      animation: buttonDefault .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
   }
}

/*-----------------------------*/
/* ANIMATIONS */
/*-----------------------------*/
@keyframes buttonDefault {
   0% {
      transform: none;
   }

   20% {
      transform: rotate(1deg);
   }

   80% {
      transform: rotate(-1deg);
   }

   100% {
      transform: none;
   }
}