.article-academy {
   // background: $color-extra-b;

   .article-academy__header {
      padding: 1rem 2rem;
      color: $color-main;
      background: $color-secondary;

      .article-academy__title {
         font-size: $font-normal-a;
         color: $color-extra-a;
      }

      .article-academy__subtitle {
         font-size: $font-litle-a;
         color: white;
      }
   }

   .article-academy__content {
      padding: 1rem 2rem;

      .academy__item-title {
         font-weight: 600;
         margin-bottom: .5rem;
      }

      .academy__item-subtitle {
         font-size: $font-normal-a;

         .academy__item-link {
            text-decoration: underline;
         }
      }

      .academy__certification-list {
         display: flex;
         gap: .5rem;
         flex-direction: column;
         margin: 1rem 0;
         animation: startFromBottom 2.5s;

         a {
            color: $color-text-a;
            background: $color-extra-b;

            li {
               position: relative;
               padding: 1rem;
               border-left: 3px solid $color-secondary;

               &:before {
                  position: absolute;
                  content: "";
                  width: 1.9rem;
                  height: 3px;
                  top: 50%;
                  left: -2rem;
                  background: $color-secondary;
               }

               &::after {
                  position: absolute;
                  content: "";
                  width: .5rem;
                  height: .5rem;
                  top: 50%;
                  left: -2.7rem;
                  background: $color-main;
                  border-radius: 50%;
                  border: 3px solid $color-secondary;
                  transform: translateY(-40%);
                  z-index: 1;
               }
            }
         }
      }
   }
}

/*------------------------------------*/
/* ANIMATIONS */
/*------------------------------------*/
@media screen and (max-width: $responsive-c) {
   .article-academy {
      .article-academy__content {
         .academy__certification-list {
            a {
               li {
                  &::before {
                     height: .15rem;
                  }

                  &::after {
                     border-width: .15rem;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: $responsive-d) {
   .article-academy {
      .article-academy__content {
         border: none;

         .academy__certification-list {

            a {
               li {
                  border: none;

                  &::before {
                     display: none;
                  }

                  &::after {
                     display: none;
                  }
               }
            }
         }
      }
   }
}