@import "loading";
@import "home";
@import "skills";
@import "experience";
@import "academy";
@import "contact";

.body {
   position: relative;
   display: grid;
   gap: 3rem;
   color: $color-text-a;
   background: $color-main;
   grid-template-columns: auto 1fr;
   padding: 3rem;
   height: 100vh;
}

.open-animation {
   animation: openAnim .3s;
}

.change-animation {
   animation: closeAnim .3s;
}

//animations
@keyframes openAnim {

   0% {
      transform: scale(.95);
      opacity: 0;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}

@keyframes closeAnim {

   70% {
      transform: scale(.95);
      opacity: 0;
   }

   100% {
      transform: scale(.95);
      opacity: 0;
   }
}

/*-----------------------------*/
/* RESPONSIVE */
/*-----------------------------*/

@media screen and (max-width: $responsive-a) {
   .body {
      padding: 2rem;
   }
}

@media screen and (max-width: $responsive-d) {
   .body {
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 4rem;
      gap: .3rem;
      padding-bottom: 0;
      overflow: hidden;
   }
}