.loading {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 25%;
   left: 50%;
   width: 20rem;
   height: 20rem;
   transform: translate(-50%, -50%);

   &::before {
      content: '';
      position: absolute;
      width: 1rem;
      height: 1rem;
      background: $color-extra-a;
      border-radius: 50%;
      z-index: 1;
   }
}

.loading__center {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2.5rem;
   height: 2.5rem;
   background: $color-secondary;
   border-radius: 50%;
   animation: grow .5s infinite linear reverse;
   filter: url(#liquidFilter);

   &::before,
   &::after {
      content: "";
      position: absolute;
      width: 1.8rem;
      height: 1.8rem;
      will-change: transform;
      background: $color-secondary;
      border-radius: 50%;
      animation: zigzag 1s infinite alternate ease-in;
      filter: url(#liquidFilter);
   }

   &::before {
      transform: translate(2.5rem);
   }

   &::after {
      transform: translate(-2.5rem);
   }
}

@keyframes zigzag {
   to {
      transform: translateX(0rem);
   }
}

@keyframes grow {
   from {
      transform: rotate(0deg);
   }

   50% {
      transform: rotate(180deg)scale(1.2);
   }

   to {
      transform: rotate(360deg);
   }
}