//-------------------------
// THEME 1
//-------------------------
@mixin theme1 {
   --color-main: #f8f8f8;
   --color-secondary: #1b1b1b;
   --color-text-a: #000000;
   --color-text-b: #c0c4c3;
   // --color-extra-a: #ff9b21;
   --color-extra-a: #e79939;
   --color-extra-b: #eff1f1;
   --color-extra-c: #d6dafc;
}

@mixin theme2 {
   --color-main: #252a31;
   --color-secondary: #1a1a1a;
   --color-text-a: #c0c4c3;
   --color-text-b: #c0c4c3;
   --color-extra-a: #e7a554;
   --color-extra-b: #1a1a1a;
   --color-extra-c: #76777e;
}


//HTML logos
@mixin logos-dark {
   --color-html: #da5861;
   --color-html-active: #cf1b24;
   --color-css: #268b8f;
   --color-css-active: #1eb6bb;
   --color-sass: #922848;
   --color-sass-active: #b12c54;
   --color-js: #c97f2c;
   --color-js-active: #dd8016;
   --color-react: #3689a0;
   --color-react-active: #3bb2d3;
   --color-router: #4b1122c2;
   --color-router-active: #b11c3c;
   --color-redux: #983aaf;
   --color-redux-active: #ae4bc7;
   --color-php: #40aceb;
   --color-php-active: #249be0;
   --color-mysql: #1fa051;
   --color-mysql-active: #0cb64d;
   --color-git: #b33f22;
   --color-git-active: #e2451e;
   --color-github: #a5a5a5;
   --color-github-active: #fffefe;
   --color-vscode: #3b7ba5;
   --color-vscode-active: #4793c5;
   --color-psd: #2068aa;
   --color-psd-active: #1c7ad1;
   --color-ai: #af6b34;
   --color-ai-active: #db843c;
   --color-figma: #b32424;
   --color-figma-active: #ee2222;
}

@mixin logos-light {
   --color-html: #df9d9f;
   --color-html-active: #cf1b24;
   --color-css: #a5bfc4;
   --color-css-active: #1eb6bb;
   --color-sass: #e0bde0;
   --color-sass-active: #db32b1;
   --color-js: #ecc472;
   --color-js-active: #dd9b16;
   --color-react: #96d9f3;
   --color-react-active: #3bb2d3;
   --color-router: #4b1122c2;
   --color-router-active: #b11c3c;
   --color-redux: #b9a4e2c2;
   --color-redux-active: #500ac2;
   --color-php: #90c2cfc2;
   --color-php-active: #249be0;
   --color-mysql: #b1dbc1;
   --color-mysql-active: #0cb64d;
   --color-git: #e08a8a;
   --color-git-active: #ce0b0b;
   --color-github: #a8a8a8;
   --color-github-active: #000000;
   --color-vscode: #8fbfdb;
   --color-vscode-active: #4793c5;
   --color-psd: #9bd3ec;
   --color-psd-active: #1c7ad1;
   --color-ai: #ece1a2;
   --color-ai-active: #db843c;
   --color-figma: #e79587;
   --color-figma-active: #e72222;
}