@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   @include theme1;
   @include logos-light;
}

body {
   font-family: 'Quicksand', sans-serif;
   font-size: $font-normal-a;
   font-weight: 500;
   -webkit-tap-highlight-color: transparent;
}

li {
   list-style: none;
}

a {
   color: $color-text-a;
   text-decoration: none;
   width: fit-content;
   font-size: .9rem;
   font-weight: 600;

   &:hover {
      text-decoration: underline;
   }
}

.title {
   font-size: $font-title-a;
   font-weight: 600;
}

.subtitle {
   font-size: $font-subtitle-a;
   font-weight: 600;
}

.scroll {

   /* width */
   &::-webkit-scrollbar {
      width: .5rem;
   }

   /* Track */
   &::-webkit-scrollbar-track {
      background: $color-extra-a;
      border-radius: .21rem;
   }

   /* Handle */
   &::-webkit-scrollbar-thumb {
      background: $color-secondary;
      border-radius: .2rem;
   }
}

/*-----------------------*/
/* THEMES */
/*-----------------------*/
.dark-theme {
   @include theme2;
   @include logos-dark;
}

.light-theme {
   @include theme1;
   @include logos-light;
}

/*-----------------------*/
/* MEDIA QUERYES */
/*-----------------------*/
@media screen and (max-width: $responsive-e) {
   .scroll {
      &::-webkit-scrollbar {
         display: none;
      }
   }

   .title {
      font-size: $font-title-b;
   }

   .subtitle {
      font-size: $font-subtitle-b;
   }
}