//---------------------------
// THEMES
//---------------------------
//Variables
$color-main:var(--color-main);
$color-secondary:var(--color-secondary);
$color-text-a:var(--color-text-a);
$color-extra-a:var(--color-extra-a);
$color-extra-b:var(--color-extra-b);
$color-extra-c:var(--color-extra-c);

//---------------------------
// SIZES
//---------------------------
$radius-a: 1.5rem;
$font-title-a: 2.1rem;
$font-title-b: 1.5rem;
$font-subtitle-a: 1.4rem;
$font-subtitle-b: 1.2rem;
$font-normal-a: 1rem;
$font-small-a: .8rem;
$font-litle-a: .7rem;

//---------------------------
// RESPONSIVE
//---------------------------
$responsive-a: 68rem;
$responsive-b: 59rem;
$responsive-c: 55rem;
$responsive-d: 47rem;
$responsive-e: 38rem;


//---------------------------
// ICON THEMES
//---------------------------
$color-html: var(--color-html);
$color-html-active: var(--color-html-active);
$color-css: var(--color-css);
$color-css-active: var(--color-css-active);
$color-sass: var(--color-sass);
$color-sass-active: var(--color-sass-active);
$color-js: var(--color-js);
$color-js-active: var(--color-js-active);
$color-react: var(--color-react);
$color-react-active: var(--color-react-active);
$color-mysql: var(--color-mysql);
$color-mysql-active: var(--color-mysql-active);
$color-redux: var(--color-redux);
$color-redux-active: var(--color-redux-active);
$color-php: var(--color-php);
$color-php-active: var(--color-php-active);
$color-git: var(--color-git);
$color-git-active: var(--color-git-active);
$color-vscode: var(--color-vscode);
$color-vscode-active: var(--color-vscode-active);
$color-github: var(--color-github);
$color-github-active: var(--color-github-active);
$color-psd: var(--color-psd);
$color-psd-active: var(--color-psd-active);
$color-ai: var(--color-ai);
$color-ai-active: var(--color-ai-active);
$color-figma: var(--color-figma);
$color-figma-active: var(--color-figma-active);