//---------------------------
// THEMES
//---------------------------
//Variables
$color-main:var(--color-main);
$color-secondary:var(--color-secondary);
$color-extra-a:var(--color-extra-a);
$color-extra-b:var(--color-extra-b);
$color-extra-c:var(--color-extra-c);

//---------------------------
// SIZES
//---------------------------
$radius-a: 1.5rem;

$font-title-a: 2.1rem;
$font-normal-a: 1.1rem;